<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="org.test.mybatis.mapper.ds1.UserMapper">
    <!--    TagStandardVO getStandardById(Long id);-->
    <select id="getUserById" resultType="User">
            SELECT *
            FROM user
            WHERE id=#{id}
    </select>

    <insert id="insert">
            insert user values (null, #{name}, #{password}, #{sex}, #{sexString}, #{createTime})
    </insert>

</mapper>

